
body {
    background-color:white;
    margin:0;
}


.sec1{
    background-color: white;
    height: 100%;
    margin: 5%;
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
    float: left;
    
}

.contactstitle {
    display: block;
    font-weight: bolder;
    font-size: 4.5vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    text-align: center;
}

.contactsdescription {
    color:  black;
    font-weight: lighter;
    font-size: 2vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 20%;
    padding-right: 20%;
}

.sec1img {
    display: block;
    width: 50%;
    height: 50%;
    max-height: 20em;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    object-fit: cover;
}

.fb {
    color:  black;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.fbdesc {
    color:  black;
    font-weight: lighter;
    font-size: 1.2vw;
    text-align: center;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.sec2{
    background-color: white;
    height: 100%;
    margin: 5%;
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
    float: left;
    
}

.sec2img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 20em;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em
}

.ig {
    color:  black;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.igdesc {
    color:  black;
    font-weight: lighter;
    font-size: 1.2vw;
    text-align: center;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.sec3{
    background-color: white;
    height: 100%;
    margin: 5%;
    margin-left: 1%;
    margin-right: 1%;
    width: 31%;
    float: left;
    
}

.sec3img {
    display: block;
    width: 50%;
    height: 50%;
    max-height: 20em;
    min-height: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
    object-fit: cover;
}

.x {
    color:  black;
    font-weight: bolder;
    font-size: 1.5vw;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.xdesc {
    color:  black;
    font-weight: lighter;
    font-size: 1.2vw;
    text-align: center;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.hr1{
    background-color:black;
    height: 6%;
    width: 100%;
    margin: 0;
    border: none;

}
.hr2{
    background-color:#201c1c;
    height: 100px;
    min-height: 1em;
    margin: 0;
    border: none;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0%;

}

.navcontent {
    float: left;
}

.navcontent a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-left: 4vw;
}

