
body {
    background-color:white;
    margin:0;
}


.referencestitle {
    display: block;
    font-weight: bolder;
    font-size: 4.5em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    text-align: center;
}

.referencesdescription {
    color:  black;
    font-weight: lighter;
    font-size: 2vw;
    text-align: center;
    margin-top: 2em;
    padding-left: 22%;
    padding-right: 22%;
}

.sec1{
    
    background-color: #e7e7e7;
    width: 100%;
    height: 15em;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
        position:  absolute;
    top: 50em
}

.sec1img {
    float:left;
    width: 38em;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left:2%;
    object-fit: cover;
}


.sec1description {
    color:  black;
    font-weight: lighter;
    font-size: 1.5vw;
    text-align: justify;
    margin: 10;
    padding-top: .8%;
    padding-left: 58%;
    padding-right: 8%;
}

.sec2{
    display: block;
    background-color: #e7e7e7;
    width: 100%;
    height: 15em;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    position:  absolute;
    top: 70em;
    margin-top: 5em;
}

.sec2img {
    float:left;
    width: 36em;
    height: auto;
    margin-top: 1%;
     margin-left:2%;
    margin-bottom: 2%;
    object-fit: cover;
}


.sec2description {
    color:  black;
    font-weight: lighter;
    font-size: 1.5vw;
    text-align: justify;
    margin: 10;
    padding-top: .8%;
    padding-left: 58%;
    padding-right: 8%;
}

.sec3{
    display: block;
    background-color: #e7e7e7;
    width: 100%;
    height: 15em;
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    position:  absolute;
    top: 90em;
    margin-top: 5em;
}

.sec3img {
    float:left;
    width: 29em;
    height: auto;
    margin-top: 0%;
     margin-left:2%;
    margin-bottom: 2%;
    object-fit: cover;
}


.sec3description {
    color:  black;
    font-weight: lighter;
    font-size: 1.5vw;
    text-align: justify;
    margin: 10;
    padding-top: .8%;
    padding-left: 58%;
    padding-right: 8%;
}


.hr1{
    background-color:black;
    height: 6%;
    width: 100%;
    margin: 0;
    border: none;

}
.hr2{
    background-color:#201c1c;
    height: 100px;
    min-height: 1em;
    margin: 0;
    border: none;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0%;

}

.navcontent {
    float: left;
}

.navcontent a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-left: 4vw;
}
